@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cormorant+Garamond:ital,wght@1,300&family=Gowun+Batang&family=Mulish:ital,wght@1,300&family=PT+Serif:ital@1&family=Roboto&family=Roboto+Condensed&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background-color: black;
    color: white;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.row {
    margin-bottom: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.maincontainer {
    display: flex;
    margin: 5px 15px;
    overflow: hidden;
}

.first {
    flex-basis: 25%;
    height: 100vh;
    box-sizing: border-box;
    margin-right: 10px;
    overflow: auto;
}

.second {
    flex-basis: 53%;
    margin: 5px 0;
    height: 105vh;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    margin-right: 10px;
    width: 100%;
}

.third {
    flex-basis: 28%;
    height: 100vh;
    margin: 5px 0;
    width: auto;
    overflow: auto;
    flex-direction: column;
    box-sizing: border-box;
}

.first nav {
    /* margin: 5px 0px; */

    width: auto;
    margin: 0 10px;
    display: flex;
    border-radius: 15px;
    padding: 10px 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 200;
    font-size: 17px;
    background-color: #1b1919b6;
    color: white;
}

.first i {
    font-size: 20px;
}


nav ul li {
    margin: 10px 0;
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;
}

nav ul li i {
    margin: 5px 10px;
    font-size: 25px;
}

.library {
    margin: 5px 10px;
    padding: 10px 10px;
    height: 85vh;
    background-color: #1b1919b6;
    border-radius: 12px;
    display: flex;
}


.list1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}


.play1 {
    float: left;
    display: flex;
    align-items: center;
}

.play2 {
    float: right;
    align-items: center;
}

#lib1 {
    font-size: 20px;
    margin-right: 10px;
}

#lib2 {
    font-size: 17px;
}

#lib3 {
    font-size: 17px;
    margin-right: 10px;
}

#lib4 {

    font-size: 14px;
}

.list2 span {
    background-color: #212121;
    font-size: 17px;
    margin: 10px 0;
    margin-right: 15px;
    padding: 10px 10px;
    border-radius: 30px;
    cursor: pointer;
}

.list3 {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar a {
    text-decoration: none;
    color: white;

}

.searchbar {
    float: left;
    font-size: 17px;
    cursor: pointer;
}

.l32 {
    float: right;
    font-size: 17px;
    cursor: pointer;
}

.list4 {
    display: flex;
    align-items: center;
    margin: 5px 0;
    font-size: large;
}

.list4 span {
    cursor: pointer;
}

.list4 img {
    width: 55px;
    margin-right: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.list4:hover {
    background-color: #212121;
}

.ur {
    height: 50px;
}

.second {
    background-color: #1b1919b6;
    border-radius: 10px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    font-size: 18px;
    width: 100%;
}

.navbar span {

    cursor: pointer;
}

.n1 i {
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0.505);
    padding: 10px 10px;
    border-radius: 50%;
}

.n2 i {
    background-color: rgba(0, 0, 0, 0.505);
    padding: 10px 10px;
    border-radius: 50%;
}

.n3 i {
    margin: 0 5px;
}

.n3 {
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.505);
    padding: 10px 13px;
    border-radius: 20px;
}

.n4 {
    background-color: rgba(0, 0, 0, 0.505);
    padding: 10px 10px;
    border-radius: 50%;
}

.n5 {
    background-color: rgba(0, 0, 0, 0.505);
    padding: 10px 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.home {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home span {
    margin: 0 0;
    display: none;
}

#home1 i {
    font-size: 35px;
    padding: 10px 10px;
    color: rgb(24, 219, 24);
    cursor: pointer;
}

#home2 {
    color: white;
    font-size: 20px;
    margin-left: 5px;
    ;
    padding: 10px 10px;
    cursor: pointer;
}

.fplay {
    margin-bottom: 10px;
}

.splay {
    margin-top: 10px;
}

.playlist {
    margin: 10px 20px;
    padding: 10px 10px;
}

.playlistItem {
    display: flex;
    margin: 8px 10px;
}

.item {
    height: auto;
    width: auto;
    margin: 5px 12px;
    padding: 2% 2%;
    background-color: #1b1919b6;
    border-radius: 10px;
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.pic {
    display: flex;
    align-items: center;
    margin: auto;
}

.pic img {
    height: 20vh;
    width: 9vw;
    border-radius: 10px;
}

.content {
    margin: 5px 5px;
    display: flex;
    flex-direction: column;
}

.content span {
    margin: 5px 0px;
    font-size: 12px;
    font-family: 'Gowun Batang', serif;
    opacity: .5;
}

.third {
    background-color: #1b1919b6;
    border-radius: 10px;
}

.songinfo {
    font-size: 18px;
    padding: 10px 10px;
}

.sname {
    margin: 0 15px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.cover {
    margin: 0 8px;
    margin-top: 20px;
}

.cover img {
    height: auto;
    width: 23vw;
    border-radius: 15px;
}

.artist {
    font-size: 15px;
    margin: 0 15px;
    margin-top: 15px;
    opacity: 0.5;
}

.queue {
    margin: 10px 10px;
    padding: 10px 10px;
    background-color: #363636a4;
    border-radius: 10px;
}

.queue span {
    margin-bottom: 10px;
}

.qitem {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.qitem:hover {
    background-color: #4D4D4D;
    cursor: pointer;
}

.qpic img {
    height: 5vh;
    width: 5vh;
    border-radius: 3px;
}

.qcontent {
    margin: 0 10px;
}

.bottom {
    position: sticky;
    height: 12vh;
    overflow: auto;
    background-color: black;
    color: white;
    padding: 2px 2px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.upper i {
    margin: 0px 0;
    margin-top: 10px;
    background-color: black;
    border-radius: 10%;
    cursor: pointer;
    display: none;
}

.icons {
    margin-top: 0px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.icons i {
    cursor: pointer;
    margin: 0 10px;

}
.masterplay1 {
    opacity: 0.9;
}

#previous {
    font-size: 20px;
    opacity: 0.5;
}

#next {
    font-size: 20px;
    opacity: 0.5;
}

.progressbar {
    display: flex;
    align-items: center;

}

.progressbar input {
    width: 40vw;
    cursor: pointer;
}

.playicon {
    height: 0%;
    width: 100%;
    overflow: hidden;
    font-size: 14px;
    position: relative;
}

.sinfo {
    font-size: 15px;
    margin-top: 2px;
}

.songlistplay i {
    position: absolute;
    font-size: 20px;
    right: 2px;
    bottom: 25px;
    height: 100%;
    color: rgb(98, 197, 98);
}

.item:hover {
    background-color: #212121;
    /* transform: translateY(-10px); */
}   

.item:hover .playicon {
    overflow: visible;
}

.qitem i {
    height: 0%;
    opacity: 0.5;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    color: rgb(98, 197, 98);
    ;
}

.qitem:hover i {
    overflow: visible;
}


.phone1 {
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 0 0px;
    display: none;
}

#down , .fa-ellipsis
{
    cursor: pointer;
}
.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 2px;
}

.sname2 {
    opacity: 0.5;
    font-size: 15px;
}

.cover1 img {

    width: 100%;
    border-radius: 5px;
    margin: 15px 0px;
}

.sname1 {
    font-size: 25px;
    font-weight: bold;
    margin: 0 5px;
    font-family: "Rubik";
}

.artist1 {
    margin: 2px 5px;
    opacity: 0.6;
}

.progressbar1 input {
    width: 80vh;
    height: 1vh;
    margin-top: 15px;
}

.icons1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shuffle,
#previous1,
#next1,
.repeat {
    opacity: .5;
}

@media only screen and (max-width: 940px) {

    .first {
        flex-basis: 10%;
    }

    .second {
        flex-basis: 60%;
    }

    .third {
        flex-basis: 30%;
    }

    .first nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 14vh;
    }

    .first nav ul li {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .list1,
    .list2,
    .list3,
    .list4 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hide {
        display: none;
    }

    #lib1 {
        font-size: 20px;
        margin-right: 0px;
    }

    #lib2 {
        display: none;
    }

    #lib3 {
        display: none;
        margin-right: 0px;
    }

    #lib4 {
        display: none;
    }


    .list4 img {
        width: 50px;
        margin: 0 8px;
        border-radius: 50%;
        cursor: pointer;
    }

    .playicon {
        height: 0%;
        width: 100%;
        overflow: hidden;
        font-size: 12px;
        position: relative;
    }

    .songlistplay i {
        position: absolute;
        font-size: 20px;
        right: 5px;
        bottom: 25px;
        height: 100%;
        color: rgb(98, 197, 98);
    }

    .bottom {
        height: 12vh;
    }

    .icons {
        margin-top: 10px;
        margin-bottom: 5px;
        padding: 2px 2px;
        display: flex;
        align-items: center;
    }

    .icons i {
        margin: 0 8px;
    }

    #masterplay {
        opacity: 0.9;
        font-size: 30px;
    }

    #previous {
        font-size: 22px;
        opacity: 0.5;
    }

    #next {
        font-size: 22px;
        opacity: 0.5;
    }


    .progressbar input {
        width: 32vw;
    }

    .sinfo {
        font-size: 16px;
        margin-top: 2px;
    }

}

@media only screen and (max-width: 800px) {
    .qcontent {
        font-size: 11px;
    }

    .qpic img {
        height: auto;
        width: 3vh;
    }

    .sname {
        font-size: 15px;
    }

    .artist {
        font-size: 12px;
    }

    .list4 img {
        width: 40px;
    }

    .bottom {
        height: 12vh;
    }

    .icons {
        margin-top: 8px;
        margin-bottom: 5px;
        padding: 2px 2px;
    }

    #masterplay {
        opacity: 0.9;
        font-size: 25px;
    }

    #previous {
        font-size: 18px;
        opacity: 0.5;
    }

    #next {
        font-size: 18px;
        opacity: 0.5;
    }

    .progressbar input {
        height: 1vh;
        cursor: pointer;
    }

    .sinfo {
        font-size: 14px;
        margin-top: 2px;
    }

    .icons i {
        margin: 0 7px;
    }
}

@media only screen and (max-width: 650px) {
    .qpic img {
        height: auto;
        width: 2vh;
    }

    .qcontent {
        font-size: 9px;
    }

    .songlistplay i {
        position: absolute;
        font-size: 18px;
        right: 10px;
        bottom: 22px;
        height: 100%;
        color: rgb(98, 197, 98);
    }
 
}

@media only screen and (max-width: 600px) {
    .first {
        display: none;
    }

    .second {
        flex-basis: 100%;
        margin: 0 0;
        padding: 20px 20px;
    }

    .third {
        display: none;
    }

    .n1 {
        display: none;
    }

    .n2 {
        display: none;
    }

    .home span {
        margin: 0 0;
        display: inline;
    }

    .songlistplay i {
        position: absolute;
        font-size: 18px;
        right: 2px;
        bottom: 22px;
        height: 100%;
        color: rgb(98, 197, 98);
    }

    .content {
        margin: 5px 5px;
        font-size: 12px;
        display: flex;
        flex-direction: column;
    }

    .content span {
        margin: 5px 0px;
        font-size: 10px;
        font-family: 'Gowun Batang', serif;
        opacity: .5;
    }

    .bottom {
        height: 11vh;
    }

    .icons {
        margin-top: 10px;
        margin-bottom: 5px;
        padding: 2px 2px;

    }

    #masterplay {
        opacity: 0.9;
        font-size: 22px;
    }

    #previous {
        font-size: 15px;
        opacity: 0.5;
    }

    #next {
        font-size: 15px;
        opacity: 0.5;
    }

    .progressbar input {
        height: 1vh;
        cursor: pointer;
    }

    .sinfo {
        font-size: 12px;
        margin-top: 4px;
    }

    .icons i {
        margin: 0 5px;
    }

    .upper {
        margin: 0 0;
        margin-top: 10px;
    }

    .upper i {
        display: inline;

    }
}